body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5c1b8;
}

.carcaca {
    width: 50%;
    height: 98vh;
    max-width: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    background-color: #f93333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #941515;
}

.carcacaBotaoControle {
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 30%;
    height: 10%;
}

.carcacaBotaoControle .direita {
    position: absolute;
    background-color: #1b1b1b;
    border-radius: 8px;
    color: white;
    width: 50%;
    height: 30px;
    top: 30%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /* <-- AQUI */
    align-items: center;        /* <-- Para centralizar verticalmente */
    padding-right: 0px;
}

.carcacaBotaoControle .esquerda {
    position: absolute;
    color: white;
    background-color: #1b1b1b;
    border-radius: 8px;
    width: 50%;
    height: 30px;
    top: 30%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /* <-- AQUI TAMBÉM SE QUISER TEXTO À DIREITA */
    align-items: center;
    padding-right: 10px;
}

.carcacaBotao {
    width: 43%;
    height: 80vh;
    max-width: 100%;
    border-left: 3px solid #941515;
    border-bottom: 3px solid #941515;
    border-right: 3px solid #941515;
    background-color: #f93333;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0,
            /* topo esquerdo */
            38% 0,
            /* topo antes do arco */
            42% 4%,
            /* curva topo */
            48% 10%,
            /* curva */
            52% 14%,
            /* curva */
            100% 14%,
            /* topo direito antes do recuo */
            100% 100%,
            /* canto inferior direito */
            20% 100%,
            /* canto inferior esquerdo */
            0 100%
            /* canto inferior esquerdo */
        );
}

.botoes {
    height: 80%;
    width: 94%;
    max-width: 100%;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circulo1 {
    max-width: 100%;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to top, rgb(109, 198, 250), rgb(209, 252, 255));
    border-radius: 50%;
    box-shadow: 2px 2px 3px black;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.circulo2 {
    max-width: 100%;
    width: 60px;
    height: 60px;
    background-color: rgb(2, 196, 255);
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    /* 15 + 40 */
    left: 55px;
    /* 15 + 40 */
    transform: translate(-50%, -50%);
    z-index: 2;
}

.circuloRed,
.circuloYellow,
.circuloGreen {
    position: absolute;
    top: 40px;
    /* Alinha verticalmente com o meio do círculo1 ou onde preferir */
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 3;
}

.circuloRed {
    background-color: red;
    left: 110px;
    /* distância à direita do circulo1 */
}

.circuloYellow {
    background-color: yellow;
    left: 140px;
    /* 20px à direita do vermelho */
}

.circuloGreen {
    background-color: green;
    left: 170px;
    /* 20px à direita do amarelo */
}

.nome,
.tipoPokemon1,
.tipoPokemon2,
.alturaPokemon,
.pesoPokemon {
    display: block;
    width: 50%;
    max-width: 100%;
    border: none;
    position: absolute;
}

.nome,
.numeroPokemon,
.tipoPokemon1,
.tipoPokemon2,
.alturaPokemon,
.pesoPokemon,
.ataquePokemon,
.defesaPokemon,
.velocidadePokemon,
.ataqueEspecialPokemon:disabled {
    color: black;
}

.ataquePokemon,
.numeroPokemon,
.defesaPokemon,
.velocidadePokemon,
.ataqueEspecialPokemon {
    position: static;
    /* Remove o posicionamento absoluto */
    width: 100%;
    border: none;
    background: transparent;
}


.ataquePokemon {
    top: 250px;
    left: 10px;
    width: 90%;
    font-size: 14px;
    text-align: center;
}

.defesaPokemon {
    top: 270px;
    left: 10px;
    width: 90%;
    font-size: 14px;
    text-align: center;
}

.velocidadePokemon {
    top: 290px;
    left: 10px;
    width: 90%;
    font-size: 14px;
    text-align: center;
}

.ataqueEspecialPokemon {
    top: 310px;
    left: 10px;
    width: 90%;
    font-size: 14px;
    text-align: center;
}

.conteudoTelaVerde {
    width: 70%;
    max-width: 100%;
    height: 100%;
    background-color: #066b2d;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.telaVerde {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    width: 38%;
    height: 15%;
}

.propriedades {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90%;
    padding: 5px;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.alturaPokemon {
    top: 90px;
    right: 10px;
    width: 35%;
    text-align: left;
    font-size: 14px;

}

.pesoPokemon {
    top: 110px;
    right: 10px;
    width: 35%;
    text-align: left;
    font-size: 14px;
}

.tipoPokemon1 {
    top: 50px;
    right: 10px;
    text-align: left;
    width: 35%;
    font-size: 14px;
}

.tipoPokemon2 {
    top: 70px;
    right: 10px;
    text-align: left;
    width: 35%;
    font-size: 14px;
}

.nome {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 40%;
    max-width: 100%;
    text-align: center;
}

.numeroPokemon {
    top: 160px;
    left: 10px;
    text-align: left;
    font-size: 20px;
    width: 90%;
    text-align: center;
}

.imagemPokemon {
    position: absolute;
    top: 50px;
    left: 10px;
}

.iconPokemon {
    width: 96px;
    margin-bottom: 3px;
    border: none;
}

.tela {
    background-color: #fff;
    height: 50%;
    padding: 30px;
    width: 70%;
    max-width: 100%;
    border: 2px solid #1b2e29;
    box-shadow: inset 4px 0 3px #665c5a, inset -4px 0 3px #665c5a, inset 0 -4px 4px #665c5a;
    display: flex;
    /* Transforma o '.tela' em um contêiner flex */
    flex-direction: column;
    /* Organiza os itens em coluna (um abaixo do outro) */
    justify-content: center;
    /* Centraliza os itens verticalmente */
    align-items: center;
    border-radius: 20px 20px 20px 0px;
    position: relative;
    overflow-y: auto;
    max-height: 60%;
}

#pokemon {
    margin-bottom: 2%;
    width: 98%;
    max-width: 100%;
    height: 20%;
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
    background-color: rgb(31, 29, 29);
    border: 2px solid;
    box-shadow: inset 0 0 10px black;
    display: block;
    color: #fff;
    outline: none;
}

#pokemon::placeholder {
    /*:: indica uma pseudoclasse*/
    color: #fff;
    padding-left: 5%;
}

button {
    display: block;
    height: 30%;
    width: 90%;
    max-width: 100%;
    background-color: hsl(197, 100%, 50%);
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
    box-shadow: 4px 4px 8px black;
}

.misty img {
    margin-left: 30%;
    width: 50%;
    max-width: 100%;
    height: auto;
}

.ash img {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.conteudo {
    display: flex;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2%;
}