.menu {
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.item-menu {
    list-style: none;
    padding: 10px 100px;
}

.item-menu:hover {
    background-color: #d8e2dc;
    transition: 0.6s;
    border-radius: 10px;
}

.link-menu {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}